# Ignore temporary output files except the ones we submit
*.txt
!git_log_lab*.txt
!collector_output.txt
!monitor_with_alerts.txt
!log_summary.txt
!daily_report_*.txt
!final_report.txt
!syshealth_log_excerpt.txt
